<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchPwd</title>
    <link rel="icon" type="image/x-icon" href="/common/userCommon/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/user/login/CSS/searchPwd.css" type="text/css">
</head>
<body>

 <div th:replace="common/header/userHeader.html"></div>
    
 <div class="wrapper">
 <h1 align="center">비밀번호 찾기</h1>
 <p align="center">
     휴대전화와 이메일 주소를 입력해주세요.
 </p>

<form action="/user/searchPwd" method="post">
<div class="searchPwd">
     <input class="phone" type="number" id="phone" name="phone" placeholder="휴대전화" required>
     <br><br>
     <input class="email" type="text" id="userId" name="userId" placeholder="이메일 주소" required>
     <button class="btn-email" id="confirm_email" type="button">인증</button>
     <br><br>
     <input class="code" type="text" id="useremail_code" name="useremail_code" placeholder="인증 코드 입력" required>
     <button class="check-code" id="confirm_email_code" type="button">확인</button>
 </div>
<br>
 <div class="search_Pwd">
     <button class="btn-searchPwd" type="submit" onclick="location.href='/user/searchPwdResult'">비밀번호 찾기</button>
 </div>
 </form>
</div>

<div th:replace="common/footer/userFooter.html"></div>
</body>
</html>