<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="icon" type="image/x-icon" href="/common/userCommon/images/favicon.ico">
    <link rel="stylesheet" href="/user/login/CSS/signup.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	
	<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	</script>

</head>
<body>
<div th:replace="common/header/userHeader.html"></div>
  <script type="text/javascript" src="/user/login/js/event.js"></script> 
	
    <div class="wrapper">
    <h1 align="center">간편 가입하기</h1>
       
    <h1 align="center">회원가입</h1>
   
    <form action="/user/signup" method="post">
        <table style="margin: 0 auto">
            <tr>
                <td style="width: 110px">* 아이디(이메일) </td>
                <td><input class="userId" type="text" maxlength="50" name="email" id="email" required placeholder="아이디를 입력해주세요."></td>
                <td style="width: 100px"><input class="btn-id" type="button" value="중복확인" id="duplicationCheck"></td>
            </tr>

            <tr>
                <td>* 이름 </td>
                <td><input class="userName" type="text" name="userNm" required placeholder="이름을 입력해주세요."></td>
            </tr>
            <tr>
                <td>* 비밀번호</td>
                <td><input  class="userPwd" type="password" maxlength="13" id="userPwd" name="pwd" required placeholder="비밀번호를 입력해주세요."></td>
                <td></td>
            </tr>
            <tr>
                <td>* 비밀번호확인</td>
                <td><input class="userPwd2" type="password" maxlength="13" id="userPwd2" name="userPwd2" required placeholder="비밀번호 재확인"></td>
                <td></td>
            </tr>

            <tr>
                <td>* 연락처 </td>
                <td><input class="phone" type="tel" name="phone" placeholder="연락처를 입력해주세요."></td>
                <td></td>
            </tr>

            <tr>
                <td>주소</td>
                <td><input class="address1" type="text" name="address1" id="address1" readonly></td>
                <td><input class="searchZipCode" type="button" value="검색" id="searchZipCode"></td>
                <td></td>
            </tr>
            <tr>
                <td>상세주소</td>
                <td><input class="address2" type="text" name="address2" id="address2" placeholder="상세주소를 입력해주세요."></td>
                <td></td>
            </tr>
        </table>
        <br>
 
   
       <br>
       <br>
       <div class="terms">
           <div class="check-group">
               <input type="checkbox" id="check_01">
               <label for="check_01">(선택) 개인사업자이시면 체크해주세요.</label>
               <br> 
               <input type="checkbox" id="check_02">
               <label for="check_02">(선택) 새로운 프로젝트 소식을 이메일과 SNS로 받겠습니다.</label>
               <br>
               <input type="checkbox" id="check_03">
               <label for="check_03">(필수) 본인은 만 14세 이상이며, 회원 기본약관, 이용약관, 개인정보처리방침을 확인하였고 이 내용에 동의합니다.</label>
           </div>
       </div>
       <br>
       <br>
       <div align="center">
        <input id="signup" class="btn-sign_up" type="submit" value="가입하기">
    </div>
</div>   
</form>

<div th:replace="common/footer/userFooter.html"></div>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    
    const $searchZipCode = document.getElementById("searchZipCode");
    
    $searchZipCode.onclick = function() {
        
        /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 인자로 전달한다. */
        new daum.Postcode({
            oncomplete: function(data) {
                /* 팝업에서 검색결과 항목을 클릭 했을 시 실행할 코드를 작성하는 부분 */
                
                document.getElementById("address1").value = data.address;
                document.getElementById("address2").focus();
            }
        }).open();
        
    };

</script>
           
</body>
</html>
