<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/common/userCommon/images/favicon.ico">
</head>
<body>


                </thead>

                <tbody>
                    <tr>


                    <tr>
                        <td class="text-title" rowspan="4">프로젝트<br>정보</td>
                        <td class="content-title">펀딩시작일</td>
                        <td class="content-text1">2023-22-22</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">펀딩종료일</td>
                        <td class="content-text1">2023-22-22</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">목표금액</td>
                        <td class="content-text1">2,222,985</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">프로젝트분야</td>
                        <td class="content-text1">후원</td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" rowspan="4">스토리</td>
                        <td class="content-title">제목</td>
                        <td class="content-text1">생분해 나무로 만든 숲내음 다이어리</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">소개</td>
                        <td class="content-text1">제로웨이스트와 동네의 환경을 지키는 거점</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title" id="title-img">대표이미지</td>
                        <td class="content-text1">이미지 이미지 이미지</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">상세소개</td>
                        <td>
                        
                            <iframe id="reviewbox" src="projectHome.html"></iframe>
                          
                        </td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" rowspan="5">리워드</td>
                        <td class="content-title">리워드1</td>
                        <td class="content-text1">마스터블록</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">금액</td>
                        <td class="content-text1">25,000</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">리워드2</td>
                        <td class="content-text1">222,985</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">금액</td>
                        <td class="content-text1">222,985</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">배송비</td>
                        <td class="content-text1">2,500</td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" rowspan="4">정산서류</td>
                        <td class="content-title">사업자등록증</td>
                        <td class="content-text1"><a href="">Y</a></td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">신분증 사본</td>
                        <td class="content-text1"><a href="">Y</a></td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">통장사본</td>
                        <td class="content-text1"><a href="">Y</a></td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">기타서류</td>
                        <td class="content-text1"><a href="">Y</a></td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" colspan="2">리워드 설명</td>
                        <td class="content-text1">리워드 관련 설명입니다~~~~~~~~~~~</td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" colspan="2">후기</td>
                        <td class="content-text1"><a href="">EP2164512212</a></td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" rowspan="4">프로젝트<br>상태 변경<br>일시</td>
                        <td class="content-title">승인</td>
                        <td class="content-text1">2023-03-22</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">진행</td>
                        <td class="content-text1">2023-03-22</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">반려</td>
                        <td class="content-text1">2023-03-22</td>
                        <td class="content-text2"></td>
                    </tr>
                    <tr>
                        <td class="content-title">중단</td>
                        <td class="content-text1">2023-03-22</td>
                        <td class="content-text2"></td>
                    </tr>

                    <tr>
                        <td class="text-title" colspan="2">메인페이지 배너 노출</td>
                        <td class="mainBannerWrapper">
                            <input type="radio" name="mainBanner" id="yes" value="Y">
                            <label for="yes" class="content-text1">설정</label>
                            <input type="radio" name="mainBanner" id="no" value="N">
                            <label for="no" class="content-text1">해제</label>
                            <label class="eventDateBox">시작일</label>
                            <input type="date" name="startDate">
                            <label class="eventDateBox" id="eEndbox">종료일</label>
                            <input type="date" name="endDate">
                        </td>

                        <td></td>
                    </tr>

                    <tr>

                   
                </tbody>
  
            </table>


            <div class="button-wrapper">
                

            </div>



        </div>
        

    

    </div>







    
</body>
</html>