<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.togather.admin.project.dao.AdminProjectMapper">
	
	<resultMap id="adminProjectResultMap" type="com.greedy.togather.admin.project.dto.AdminProjectDTO">
		<id property="projNo" column="PROJ_NO"/>
		<result property="categoryNo" column="CATEGOTY_NO"/>
		<result property="userNo" column="USER_NO"/>
		<result property="projNm" column="PROJ_NM"/>
		<result property="projSummary" column="PROJ_SUMMARY"/>
		<result property="projDetail" column="PROJ_DETAIL"/>
		<result property="projInfoTitle" column="PROJ_INFO_TITLE"/>
		<result property="projInfoBody" column="PROJ_INFO_BODY"/>
		<result property="fundingStartDate" column="FUNDING_START_DATE"/>
		<result property="fundingEndDate" column="FUNDING_END_DATE"/>
		<result property="fundingGoal" column="FUNDING_GOAL"/>
		<result property="fundingAchive" column="FUNDING_ACHIVE"/>
		<result property="projRegDate" column="PROJ_REG_DATE"/>
		<result property="projRejectDate" column="PROJ_REJECT_DATE"/>
		<result property="projConfirmDate" column="PROJ_CONFIRM_DATE"/>
		<result property="projStopDate" column="PROJ_STOP_DATE"/>
		<result property="projStatus" column="PROJ_STATUS"/>
		<result property="projReview" column="PROJ_REVIEW"/>
	</resultMap>
	
	
	<resultMap id="adminProjectPageResultMap" type="com.greedy.togather.admin.project.dto.AdminProjectPageDTO">
		<id property="projNo" column="PROJ_NO"/>
		<result property="makerNm" column="MAKER_PROFILE_NM"/>
		<result property="makerEmail" column="MAKER_EMAIL"/>
		<result property="makerPhone" column="MAKER_PHONE"/>
		<result property="makerAddress" column="MAKER_ADDRESS"/>
		<result property="makerIntro" column="MAKER_INTRO"/>
		<result property="fundingStartDate" column="FUNDING_START_DATE"/>
		<result property="fundingEndDate" column="FUNDING_END_DATE"/>
		<result property="fundingGoal" column="FUNDING_GOAL"/>
		<result property="projField" column="PROJ_FIELD"/>
		<result property="projNm" column="PROJ_NM"/>
		<result property="projSummary" column="PROJ_SUMMARY"/>
		<result property="projNo" column="PROJ_NO"/>		
		<result property="projDetail" column="PROJ_DETAIL"/>
		<result property="fundingAchive" column="FUNDING_ACHIVE"/>	
		<result property="projInfoTitle" column="PROJ_INFO_TITLE"/>
		<result property="projInfoBody" column="PROJ_INFO_BODY"/>
		<result property="projReview" column="PROJ_REVIEW"/>
		<result property="projRegDate" column="PROJ_REG_DATE"/>
		<result property="projRejectDate" column="PROJ_REJECT_DATE"/>
		<result property="projConfirmDate" column="PROJ_CONFIRM_DATE"/>
		<result property="projStopDate" column="PROJ_STOP_DATE"/>
		<result property="projStatus" column="PROJ_STATUS"/>
		
		<collection property="adminRewardList" resultMap="adminRewardResultMap"/>
		<collection property="adminFileList" resultMap="adminProjectPageResultMap"/>
	</resultMap>
	
	<resultMap id="adminRewardResultMap" type="com.greedy.togather.admin.project.dto.AdminRewardDTO">
		<id property="rewardNo" column="REWARD_NO"/>
		<result property="projNo" column="PROJ_NO"/>		
		<result property="rewardNm" column="REWARD_NM"/>		
		<result property="rewardPrice" column="REWARD_PRICE"/>
		<result property="rewardFee" column="REWARD_FEE"/>
	</resultMap>
	
	<resultMap id="adminFlieResultMap" type="com.greedy.togather.admin.project.dto.AdminFileDTO">
		<id property="fileNo" column="FILE_NO"/>
		<result property="projNo" column="PROJ_NO"/>		
		<result property="fileType" column="FILE_TYPE"/>		
		<result property="originalFileNm" column="ORIGINAL_FILE_TYPE"/>
		<result property="savedFileNm" column="SAVED_FILE_NM"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="thumPath" column="THUM_PATH"/>
	</resultMap>
	
	<resultMap id="adminMainBanner" type="com.greedy.togather.admin.mainBanner.dto.AdminBannerDTO">
		<id property="mpCode" column="MP_CODE"/>
		<result property="projNo" column="PROJ_NO"/>		
		<result property="mpStartDate" column="MP_START_DATE"/>		
		<result property="mpEndDate" column="MP_END_DATE"/>		
		<result property="mpRegDate" column="MP_REG_DATE"/>		
		<result property="mpCategory" column="MP_CATEGORY"/>		
		<result property="mpStatus" column="MP_STATUS"/>		

	</resultMap>
	
		<resultMap id="adminTodayProject" type="com.greedy.togather.admin.mainBanner.dto.AdminBannerDTO">
		<id property="mpCode" column="MP_CODE"/>
		<result property="projNo" column="PROJ_NO"/>		
		<result property="mpStartDate" column="MP_START_DATE"/>		
		<result property="mpEndDate" column="MP_END_DATE"/>		
		<result property="mpRegDate" column="MP_REG_DATE"/>		
		<result property="mpCategory" column="MP_CATEGORY"/>		
		<result property="mpStatus" column="MP_STATUS"/>		

	</resultMap>
	

	
	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT 
        	   COUNT(*)
          FROM TBL_PROJECT A
        
        <where>
            <if test="searchCondition == 'projNo'">
                A.PROJ_NO = #{ searchValue }
            </if>
            <if test="searchCondition == 'projNm'">
                A.PROJ_NM LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'projStatus'">
                A.PROJ_STATUS LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'projReview'">
                A.PROJ_REVIEW LIKE '%' || #{ searchValue } || '%'
            </if>
            
        </where>
    </select>
    
 <select id="selectAdminProjectList" resultMap="adminProjectResultMap">
        SELECT 
	           A.PROJ_NO
	         , A.PROJ_NM
	         , A.PROJ_STATUS
	         , A.PROJ_REVIEW

          FROM (SELECT 
                       ROWNUM RNUM
                     , B.PROJ_NO
                     , B.PROJ_NM
			         , B.PROJ_STATUS
			         , B.PROJ_REVIEW
                  FROM (SELECT 
                               C.PROJ_NO
					         , C.PROJ_NM
					         , C.PROJ_STATUS
					         , C.PROJ_REVIEW

                          FROM TBL_PROJECT C
        <where>
            <if test="searchCondition == 'projNo'">
                PROJ_NO = #{ searchValue }
            </if>
            <if test="searchCondition == 'projNm'">
                PROJ_NM LIKE '%' || #{ searchValue } || '%'            
            </if>
            <if test="searchCondition == 'projStatus'">
                PROJ_STATUS LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'projReview'">
                PROJ_REVIEW LIKE '%' || #{ searchValue } || '%'
            </if>

        </where>
        ORDER BY C.PROJ_NO DESC
        ) B
        <![CDATA[
                  WHERE ROWNUM <= #{ endRow }
                  ]]>
        ) A
        WHERE A.RNUM >= #{ startRow }
        ORDER BY 1 DESC
    </select>
    
    
 <select id="readProjectPage" resultMap="adminProjectPageResultMap">
 	SELECT
 		E.PROJ_NO
 		,A.MAKER_PROFILE_NM
 		,A.MAKER_EMAIL
 		,A.MAKER_PHONE
 		,A.MAKER_ADDRESS
 		,A.MAKER_INTRO
 		,E.FUNDING_START_DATE
 		,E.FUNDING_END_DATE
 		,E.FUNDING_GOAL
 		,B.PROJ_FIELD
 		,E.PROJ_NM
 		,E.PROJ_SUMMARY
 		,D.SAVED_FILE_NM
 		,D.FILE_PATH
 		,D.THUM_PATH
 		,E.PROJ_DETAIL
 		,E.FUNDING_ACHIVE
 		,E.PROJ_INFO_TITLE
 		,E.PROJ_INFO_BODY
 		,E.PROJ_REVIEW
 		,E.PROJ_REG_DATE
 		,E.PROJ_REJECT_DATE
 		,E.PROJ_CONFIRM_DATE
 		,E.PROJ_STOP_DATE
 	FROM TBL_PROJECT E
 	LEFT JOIN TBL_MAKER A ON (E.PROJ_NO = A.PROJ_NO)
 	LEFT JOIN TBL_PRO_CATEGORY B ON (E.CATEGORY_NO = B.CATEGORY_NO)
 	LEFT JOIN TBL_FILE D ON (E.PROJ_NO = D.PROJ_NO)
   WHERE E.PROJ_NO = #{ projNo }

 
 </select>
 

 
  <select id="readProjectPageReward" resultMap="adminRewardResultMap">
 	SELECT
 		 C.REWARD_NM
 		,C.REWARD_PRICE
 		,C.REWARD_FEE

 	FROM TBL_REWARD C
 	LEFT JOIN TBL_PROJECT A ON (C.PROJ_NO = A.PROJ_NO)
   WHERE C.PROJ_NO = #{ projNo }
 
 </select>



<update id="updateConfirm">
       UPDATE 
             TBL_PROJECT A

         SET PROJ_STATUS = '진행'
            ,PROJ_CONFIRM_DATE = SYSDATE

		WHERE A.PROJ_NO = #{ projNo }
</update>
<update id="updateReject">
       UPDATE 
             TBL_PROJECT A

         SET PROJ_STATUS = '반려'
            ,PROJ_REJECT_DATE = SYSDATE

		WHERE A.PROJ_NO = #{ projNo }
</update>
<update id="updateStop">
       UPDATE 
             TBL_PROJECT A

         SET PROJ_STATUS = '중단'
            ,PROJ_STOP_DATE = SYSDATE

		WHERE A.PROJ_NO = #{ projNo }
</update>


<select id="adminReadFile" resultMap="adminFlieResultMap">
 	SELECT
 	      C.PROJ_NO
 	     ,C.FILE_PATH
 		 ,C.THUM_PATH
 		 ,C.SAVED_FILE_NM
 		 ,C.FILE_TYPE
 	  FROM TBL_FILE C
 LEFT JOIN TBL_PROJECT A ON (C.PROJ_NO = A.PROJ_NO)
 WHERE C.PROJ_NO = #{ projNo }

 </select>
 
 
 
<insert id="adminMainBanner">
 
 INSERT
  INTO TBL_MAINPAGE
(
   MP_CODE
  ,PROJ_NO
  ,MP_START_DATE
  ,MP_END_DATE
  ,MP_CATEGORY
  ,MP_STATUS
)
VALUES
(
  'MP'||LPAD(SEQ_MP_CODE.NEXTVAL, 9, '0')
  ,	#{ projNo }
  ,	#{ mpStartDate }
  ,	#{ mpEndDate }
  ,	#{ mpCategory }
  ,	#{ mpStatus }  
)

</insert>
 
 <update id="adminMainBannerUpdate">
       UPDATE 
             TBL_MAINPAGE A

         SET MP_STATUS = '마감'
            ,MP_END_DATE = #{ mpEndDate }
		WHERE A.PROJ_NO = #{ projNo }
</update>

<insert id="adminTodayProject">
 
 INSERT
  INTO TBL_MAINPAGE
(
   MP_CODE
  ,PROJ_NO
  ,MP_START_DATE
  ,MP_END_DATE
  ,MP_CATEGORY
  ,MP_STATUS
)
VALUES
(
  'MP'||LPAD(SEQ_MP_CODE.NEXTVAL, 9, '0')
  ,	#{ projNo }
  ,	#{ mpStartDate }
  ,	#{ mpEndDate }
  ,	#{ mpCategory }
  ,	#{ mpStatus }  
)

</insert>
 
 <update id="adminTodayProjectUpdate">
       UPDATE 
             TBL_MAINPAGE A

         SET MP_STATUS = '마감'
            ,MP_END_DATE = #{ mpEndDate }
		WHERE A.PROJ_NO = #{ projNo }
</update>
 




</mapper>