<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.togather.admin.user.model.dao.AdminUserMapper">

	<resultMap id="userResultMap" type="com.greedy.togather.admin.user.model.dto.AdminUserDTO">
		<id property="userNo" column="USER_NO"/>
		<result property="email" column="EMAIL"/>
		<result property="pwd" column="PWD"/>
		<result property="userNm" column="USER_NM"/>
		<result property="profileNm" column="PROFILE_NM"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="joinDate" column="JOIN_DATE"/>
		<result property="quitDate" column="QUIT_DATE"/>
		<result property="quitYn" column="QUIT_YN"/>
		<result property="userToken" column="USER_TOKEN"/>
	</resultMap>
	
	

	<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT 
        	   COUNT(*)
          FROM TBL_USER
          		<where>
	            <if test="searchCondition == 'userNo'">
                 	USER_NO LIKE '%' || #{ searchValue } || '%'
            	</if>
	            <if test="searchCondition == 'email'">
	                EMAIL LIKE '%' || #{ searchValue } || '%'
	            </if>
	            <if test="searchCondition == 'userNm'">
	                USER_NM LIKE '%' || #{ searchValue } || '%'
	            </if>
	            <if test="searchCondition == 'quitYn'">
	                QUIT_YN = #{ searchValue }
	            </if>
	            </where>
    </select>
    
	<select id="selectUserList" resultMap="userResultMap">
		SELECT   
			   A.USER_NO
			 , A.EMAIL
			 , A.USER_NM
			 , A.JOIN_DATE
			 , A.QUIT_DATE
			 , A.QUIT_YN
	     FROM (SELECT
			     	   ROWNUM RNUM
			     	 , B.USER_NO
					 , B.EMAIL
					 , B.USER_NM
					 , B.JOIN_DATE
					 , B.QUIT_DATE
					 , B.QUIT_YN
		  		FROM (SELECT
				      	       C.USER_NO
							 , C.EMAIL
							 , C.USER_NM
							 , C.JOIN_DATE
							 , C.QUIT_DATE
							 , C.QUIT_YN 
		          		FROM TBL_USER C 
		          		<where>
			            <if test="searchCondition == 'userNo'">
		                 	C.USER_NO LIKE '%' || #{ searchValue } || '%'
		            	</if>
			            <if test="searchCondition == 'email'">
			                C.EMAIL LIKE '%' || #{ searchValue } || '%'
			            </if>
			            <if test="searchCondition == 'userNm'">
			                C.USER_NM LIKE '%' || #{ searchValue } || '%'
			            </if>
			            <if test="searchCondition == 'quitYn'">
			                C.QUIT_YN LIKE '%' || #{ searchValue } || '%'
			            </if>
			            </where>
			            ORDER BY C.USER_NO DESC
			            ) B
                 <![CDATA[ WHERE ROWNUM <= #{ endRow } ]]>
              )A 
        WHERE RNUM >= #{ startRow }
                  
	</select>

	<delete id="deleteUserChecked" parameterType="string">
		DELETE
 		  FROM TBL_USER
  	     WHERE USER_NO = #{ userNo }     
	</delete>
	
	<select id="selectUserDetail" resultMap="userResultMap">
		SELECT
		       
	
	
	</select>
	












</mapper>