<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/user/main/CSS/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/src/main/resources/static/user//main/js/main.js"></script> 
    <title>main</title>
</head>
<body>
    <div class="main-banner">
        <div class="banner-leftside">
            <p class="main-text">가치를 나누는 일,<br>함께 한다면<br>어렵지 않아요</p>
            <div class="main-buttons">
                <button id="start-project">프로젝트 시작하기</button>
                <a href="#today"><button id="funding-project">펀딩 시작하기</button></a>
            </div>
        </div>
        <div class="main-image-area">
            <img src="/src/main/resources/static/user/main/images/dummy2.png">
        </div>
    </div>
    <div class="wrapper">
        <div id="today">
            <p class="title">오늘의 프로젝트</p>
            <flex>
                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>
            </flex>
        </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------->

    <div class="wrapper">
        <div id="popular">
            <p class="title">인기 프로젝트</p>
            <flex>
                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>

                <div class="project-block">
                    <img src="/src/main/resources/static/user/main/images/dummy1.png" class="project-image">
                    <div class="like-box">
                        <img src="/src/main/resources/static/user/main/images/like-empty.png" class="like-btn">
                    </div>
                    <div class="display-box">
                        <p class="project-summary">제주에 버려지는 유기견들을 위해 도움의 손길을 보내주세요</p>
                    </div>
                    <div class="project-info">
                        <p class="maker-name">제주펫</p>
                        <p class="project-name">제주도 유기견을 돕는 특별한 프로젝트</p>
                        
                    </div>
                    <div class="funding-date"><span>18</span>일 남음</div>
                    <flex>
                        <p class="current-funding"><span>2,888,690</span>원</p>
                        <p class="percent"><span>178</span>%</p>
                    </flex>
                </div>
            </flex>
        </div>
    </div>

    <!--------------------------------------------------------------------------->

    <div class="wrapper">
        <flex>
            <div class="board-box">
                <div class="board-type">Notice</div>
                <div class="board-block">
                    <div class="board-title">[안내] To-Gather 서비스 개선 사항 안내</div>
                    <div class="board-title">[모집] 스타트업 펀딩 지원 프로그램 참여 Maker 모집</div>
                    <div class="board-title">[안내] To-Gather SNS 광고 수수료 변경 및 정책 안내</div>
                    <div class="board-title">[안내] 배송 제한 지역 안내</div>
                    <div class="board-title">[약관/정책] 개인정보처리방침 개정</div>
                    <div class="board-title">[안내] To-Gather 서비스 개선 사항 안내</div>
                </div>
            </div>
            <div class="board-box">
                <div class="board-type">FAQ</div>
                <div class="board-block">
                    <div class="board-title">To-Gather는 어떤 역할을 담당하나요?</div>
                    <div class="board-title">회원가입을 해야만 펀딩에 참여할 수 있나요?</div>
                    <div class="board-title">후원 및 결제 취소는 어떻게 하나요?</div>
                    <div class="board-title">연말정산을 위해 기부금 영수증이 필요합니다.</div>
                    <div class="board-title">후원 및 결제한 영수증이 필요합니다.</div>
                    <div class="board-title">결제가 완료되었음을 어떻게 확인할 수 있나요?</div>
                </div>
            </div>
        </flex>
    </div>
</body>
</html>