<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/user/main/CSS/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/common/userCommon/images/favicon.ico">
    <title>main</title>
</head>
<body>
	<div th:replace="common/header/userHeader.html"></div>
	<!-- userHeader의 js과 충돌 방지를 위해 script를 head가 아닌 th:replace의 하단에 선언 -->
	<script type="text/javascript" src="/user/main/js/main.js"></script> 
	
	<div class="fake-header"></div>

    <div class="main-banner">
        <div class="banner-leftside">
            <p class="main-text">가치를 나누는 일,<br>함께 한다면<br>어렵지 않아요</p>
            <div class="main-buttons">
                <button id="start-project" onclick="location.href='/project/create'">프로젝트 시작하기</button>
                <a href="#here"><button id="start-funding">펀딩 시작하기</button></a>
            </div>
        </div>
        	<th:block th:each="mainProj : ${ mainProjects }">
	            <div class="slider">
	            	<th:block th:each=" file : ${ mainProj.fileList }" >
		                <img th:src="${ file.filePath + file.savedFileName }" class="slide"> <!-- th:data-proj-no="${ mainProj.projNo }" -->
		            </th:block>   
	            </div>
	            </th:block>
            </th:block>
            <div class="for-button-location">
                <button class="btn prev">◀</button>
                <button class="btn next">▶</button>
            </div>
    </div>
    <div id="here"></div>
    <div class="wrapper">
        <p class="title">오늘의 프로젝트</p>
    </div>
    <div class="wrapper" id="today">
        <th:block th:each="todayProj : ${ todayProjects }">
	        <div th:data-proj-no="${ todayProj.projNo }" class="project-block">
	            <th:block th:each=" file : ${ todayProj.fileList }" >
	            	<img th:if="${ file.fileType == '대표사진' }" th:src="${ file.thumPath }" class="project-image">
	            </th:block>
	            <div class="like-box">
	                <img src="/user/main/images/like-empty.png" class="like-btn">
	            </div>
	            <div class="display-box">
	                <p th:text="${ todayProj.projSummary }" class="project-summary"></p>
	            </div>
	            <div class="project-info">
	                <p th:text="${ todayProj.maker.makerName }" class="maker-name"></p>
	                <p th:text="${ todayProj.projName }" class="project-name"></p>
	            </div>
	            <div class="funding-date"><span th:text="${ todayProj.leftDays }"></span>일 남음</div>
	            <flex>
	                <p class="current-funding"><span th:text="${ #numbers.formatInteger(todayProj.fundingAchive, 3, 'COMMA') }" ></span>원</p>
	                <p class="percent"><span th:text="${ todayProj.percent }"></span>%</p>
	            </flex>
	        </div>
		</th:block>
		
        
    </div>

    <!----------------------------------------------------------------------------------------------------------->
    <div class="wrapper">
        <p class="title">인기 프로젝트</p>
    </div>
    <div class="wrapper" id="popular">
        <th:block th:each="popularProj : ${ popularProjects }">
	        <div th:data-proj-no="${ popularProj.projNo }" class="project-block">
	            <th:block th:each=" file : ${ popularProj.fileList }" >
	            	<img th:if="${ file.fileType == '대표사진' }" th:src="${ file.thumPath }" class="project-image">
	            </th:block>
	            <div class="like-box">
	                <img src="/user/main/images/like-empty.png" class="like-btn">
	            </div>
	            <div class="display-box">
	                <p th:text="${ popularProj.projSummary }" class="project-summary"></p>
	            </div>
	            <div class="project-info">
	                <p th:text="${ popularProj.maker.makerName }" class="maker-name"></p>
	                <p th:text="${ popularProj.projName }" class="project-name"></p>
	            </div>
	            <div class="funding-date"><span th:text="${ popularProj.leftDays }"></span>일 남음</div>
	            <flex>
	                <p class="current-funding"><span th:text="${ #numbers.formatInteger(popularProj.fundingAchive, 3, 'COMMA') }" ></span>원</p>
	                <p class="percent"><span th:text="${ popularProj.percent }"></span>%</p>
	            </flex>
	        </div>
		</th:block>
    </div>

    <!--------------------------------------------------------------------------->

    <div class="wrapper">
        <flex>
            <div class="board-box">
                <div class="board-type">Notice</div>
                <div class="board-block">
                    <div class="board-title">[안내] To-Gather 서비스 개선 사항 안내</div>
                    <div class="board-title">[모집] 스타트업 펀딩 지원 프로그램 참여 Maker 모집</div>
                    <div class="board-title">[안내] To-Gather SNS 광고 수수료 변경 및 정책 안내</div>
                    <div class="board-title">[안내] 배송 제한 지역 안내</div>
                    <div class="board-title">[약관/정책] 개인정보처리방침 개정</div>
                    <div class="board-title">[안내] To-Gather 서비스 개선 사항 안내</div>
                </div>
            </div>
            <div class="board-box">
                <div class="board-type">FAQ</div>
                <div class="board-block">
                    <div class="board-title">To-Gather는 어떤 역할을 담당하나요?</div>
                    <div class="board-title">회원가입을 해야만 펀딩에 참여할 수 있나요?</div>
                    <div class="board-title">후원 및 결제 취소는 어떻게 하나요?</div>
                    <div class="board-title">연말정산을 위해 기부금 영수증이 필요합니다.</div>
                    <div class="board-title">후원 및 결제한 영수증이 필요합니다.</div>
                    <div class="board-title">결제가 완료되었음을 어떻게 확인할 수 있나요?</div>
                </div>
            </div>
        </flex>
    </div>
    
    <div th:replace="common/footer/userFooter.html"></div>
</body>
</html>