<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/user/project/CSS/viewProjects.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/common/userCommon/images/favicon.ico">
    <title>viewSearchedProjects</title>
</head>
<body>
	<div th:replace="common/header/userHeader.html"></div>
	<script type="text/javascript" src="/user/project/js/viewProjects.js"></script>
	
    <flex class="justify-between">
        <div class="title-box">
            <flex>
            <img src="/user/project/images/find.png">
            <p class="title">"<span th:text="${ searchedWord }"></span>"의 검색 결과 <span id="project-count">6</span>건</p>
            </flex>
        </div>
<!--    <div class="sorting-box">
            <select name="sorting" id="sorting" class="input">
                <option value="all" selected>전체</option>
                <option value="recent">최신순</option>
                <option value="like">좋아요순</option>
                <option value="close">마감임박순</option>
            </select>
        </div> -->
    </flex>
    
    <div class="wrapper" id="more-projects">
        <th:block th:each="project : ${ searchedProjectList }">
	        <div th:data-proj-no="${ project.projNo }" class="project-block loading">
	            <th:block th:each=" file : ${ project.fileList }" >
	            	<img th:if="${ file.thumPath != null }" th:src="${ file.thumPath }" class="project-image">
	            </th:block>
	            <div class="display-box">
	                <p th:text="${ project.projSummary }" class="project-summary"></p>
	            </div>
	            <div class="project-info">
	                <p th:text="${ project.maker.makerName }" class="maker-name"></p>
	                <p th:text="${ project.projName }" class="project-name"></p>
	            </div>
	            <th:block th:if="${ project.leftDays } > 0">
	            	<div class="funding-date"><span th:text="${ project.leftDays }"></span>일 남음</div>
	            </th:block>
	            <th:block th:if="${ project.leftDays } <= 0">
	            	<div th:text="마감" class="funding-date"></div>
	            </th:block>
	            <flex>
	                <p class="current-funding"><span th:text="${ project.fundingAchive == 0 ? '0' : #numbers.formatInteger(project.fundingAchive, 3, 'COMMA') }" ></span>원</p>
	                <p class="percent"><span th:text="${ project.percent }"></span>%</p>
	            </flex>
	        </div>
		</th:block>
    </div>
    
    <script>
    	/* 검색된 프로젝트의 개수 세기 */
	    function displayProjectCount() {
	    	  const projectCount = document.querySelectorAll('.project-block').length;
	    	  const countElement = document.querySelector('#project-count');
	    	  if (countElement) {
	    	    countElement.textContent = projectCount;
	    	  }
	    	}
	
	    	// 페이지가 로드되면 project-block의 갯수를 표시
	    	window.addEventListener('load', function() {
	    	  displayProjectCount();
	    	});
	
	    	// project-block이 추가/삭제될 때마다 project-block의 갯수를 업데이트
	    	let observer = new MutationObserver(function(mutations) {
	    	  displayProjectCount();
	    	});
	
	    	observer.observe(document.querySelector('body'), {
	    	  childList: true,
	    	  subtree: true,
	    	});
    </script>

    <div class="wrapper">
        <div class="more-button" id="more-button">more</div>
    </div>
    
    <div th:replace="common/footer/userFooter.html"></div>

</body>
</html>