<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/common/userCommon/images/favicon.ico">
   	<link rel="stylesheet" type="text/css" href="/admin/board/CSS/modifyPost.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
	
	<title>게시판 글수정</title>
	
</head>
<body>

    <div th:replace="common/header/adminHeader.html">
    </div>
    
    <div th:replace="common/sidebar/adminSidebar.html">
    </div>
    
    <div class="content">
        <div class="content1">
            <div class="menu-title"><h1>게시판 > 글 수정</h1></div>
          </div>

        <!-- 전체를 감싸는 큰 사각형 박스 -->
        <div class="editor-box">
            <!-- 첫 번째 줄: 카테고리 드롭다운 박스 -->
        
        <!-- 카테고리 및 말머리 선택 드롭다운 -->
        <div class="searchbar">
            <div class="searchForm" action="admin/write/post" method="get">  
            <select id="searchCondition" name="searchCondition" class="sort">
                <option value="boardType"
                    th:selected="${ paging.searchCondition eq 'boardType'}">카테고리 선택</option>
                <option value="boardType"
                    th:selected="${ paging.searchCondition eq 'boardType'}">FAQ</option>
                <option value="boardType"
                    th:selected="${ paging.searchCondition eq 'boardType'}">NOTICE</option>
               
                </select> 
          
                
            <select id="searchCondition" name="searchCondition" class="sort">
                <option value="boardTitleHead"
                    th:selected="${ paging.searchCondition eq 'boardTitleHead'}">말머리 선택</option>
                <option value="boardTitleHead"
                    th:selected="${ paging.searchCondition eq 'boardTitleHead'}">일반</option>
                <option value="boardTitleHead"
                    th:selected="${ paging.searchCondition eq 'boardTitleHead'}">기타</option>
            
            </select>  
    

            
     
    </div><br>

            <!-- 두 번째 줄: 제목 입력 박스 -->
            <div class="form-group1">
               
                <input type="text" class="form-control" id="title" placeholder="배송 제한 지역 안내">
            </div><br>

            <!-- 세 번째 줄: 내용 입력 박스 -->
            <div class="form-group2">
             
                <div id="content" class="summernote"></div>
            </div>
             <!-- 세 번째 줄: 내용 입력 박스 js 스크립트 -->
            <script src="modifyPost.js"></script><br>
            
            <!-- 하단: 녹색버튼 -->
            <div class="content2">
                <button class="delete">취소</button>
                <button class="write">완료</button>
           </div>
        </section>
        </div>
        </div>
        
    </div>
               

     
</body>
</html>
        
    </div>
               

     
</body>
</html>