<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 예시화면</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/admin/board/CSS/viewPost.css">
</head>
<body>
    <div class="container">
        <!-- 좌측 상단 제목 -->

            <div class="content1">
                <div class="menu-title"><h1>NOTICE</h1></div>
              </div>
    
        <!-- 전체를 감싸는 큰 사각형 박스 -->
        <div class="viewer-box">
            <!-- 첫 번째 줄: 안내 문구와 날짜 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="info-box">
                        <h5>[안내] 배송 제한 지역 안내</h5>
                        <span id= "current-time"></span>
                    </div>
                </div>
            </div> <br> 

            <!-- 두 번째 줄: 내용 -->
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="10" readonly>배송 제한 지역에 관한 안내 내용입니다.</textarea>
            
            </div>

             <!-- 하단: 녹색버튼 -->
             <div class="content2">
                <button class="delete">삭제</button>
                <button class="write">수정</button></div>
           </div>
        </div>
    </div>
    

    <script src="/src/main/resources/static/admin/board/CSS/viewPost.css"></script>
</body>
</html>