<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fundProject</title>
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/common/userCommon/images/favicon.ico">
    <link rel="stylesheet" href="/src/main/resources/static/user/myPage/CSS/fundProject.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/user/pay/CSS/payScreen.css" type="text/css">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">

        <div class="aside">
            <ul>
                <li><a class="menu-link" href="#myInfo">내 정보</a></li>
                <br>
                <li><a class="menu-link" href="#">보유 쿠폰</a></li>
                <br>
                <li><a class="menu-link" href="#likedProject">좋아요한 프로젝트</a></li>
                <br>
                <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
                <br>
                <li><a class="menu-link" href="#">나의 프로젝트</a></li>
                <br>
                <br>
                <li><a class="menu-link" href="#">로그아웃</a></li>
                <br>
                <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
            </ul>
        </div>
        <div class="project-list">
            <table class="fund">
                <caption><strong>후원 중인 프로젝트</strong></caption>
                <tr clas="table-header">
                    <th hidden id="payNo"></th>
                    <th>프로젝트</th>
                    <th>상품 정보</th>
                    <th>주문 일자</th>
                    <th>주문 번호</th>
                    <th>주문 금액</th>
                    <th>수량</th>
                    <th>배송 상태</th>
                    <th>주문 상태</th>
                </tr>
                <tr class="table-body">
                    <td><a href=""></a><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32000</td>
                    <td>2</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-body">
                    <td><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32,000</td>
                    <td>2</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                   
            </table>
            <table class="fund">
                <caption><strong>후원 성공 프로젝트</strong></caption>
                <tr clas="table-header">
                    <th>프로젝트</th>
                    <th>상품 정보</th>
                    <th>주문 일자</th>
                    <th>주문 번호</th>
                    <th>주문 금액(수량)</th>
                    <th>배송 상태</th>
                    <th>주문 상태</th>
                </tr>
                <tr class="table-body">
                    <td><a href=""></a><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32,000(2개)</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-body">
                    <td><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32,000(2개)</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                   
            </table>
            <table class="fund">
                <caption><strong>환불 한 프로젝트</strong></caption>
                <tr clas="table-header">
                    <th>프로젝트</th>
                    <th>상품 정보</th>
                    <th>주문 일자</th>
                    <th>주문 번호</th>
                    <th>주문 금액(수량)</th>
                    <th>배송 상태</th>
                    <th>주문 상태</th>
                </tr>
                <tr class="table-body">
                    <td><a href=""></a><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32,000(2개)</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-body">
                    <td><img src="/src/main/resources/static/user/myPage/images/기부.jpg" width="100px" height="100px"></td>
                    <td>리워드 상품</td>
                    <td>2023.03.01</td>
                    <td>2023030100001</td>
                    <td>32,000(2개)</td>
                    <td>배송중</td>
                    <td><button class="btn">배송 조회</button><button class="btn">환불 신청</button></td>
                </tr>
                <tr class="table-foot">
                    <td>프로젝트 이름</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                   
            </table>
            <div>
                <div class="content4">
                    <ul class="pagination">
                        <li class="prev"><a href=""><</a></li>
                        <li calss="page1"><a href="">1</a></li>
                        <li class="page2"><a href="">2</a></li>
                        <li class="page3"><a href="">3</a></li>
                        <li class="page4"><a href="">4</a></li>
                        <li class="page5"><a href="">5</a></li>
                        <li class="page6"><a href="">6</a></li>
                        <li class="page7"><a href="">7</a></li>
                        <li class="page8"><a href="">8</a></li>
                        <li class="page9"><a href="">9</a></li>
                        <li class="page10"><a href="">10</a></li>
                        <li class="next"><a href="">></a></li>
                    </ul>
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>