<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/main/resources/static/common/userCommon/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/user/myPage/CSS/myCoupon.css" type="text/css">
    <title>haveCoupon</title>
</head>
<body>
    <div class="wrapper">
        <div class="realout">
            <div class="aside">
            
                <ul>
                        <li><a class="menu-link" href="#myInfo">내 정보</a></li>
                <br>
                    <li><a class="menu-link" href="#">보유 쿠폰</a></li>
                    <br>
                    <li><a class="menu-link" href="#">좋아요한 프로젝트</a></li>
                    <br>
                    <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
                    <br>
                    <li><a class="menu-link" href="#">나의 프로젝트</a></li>
                    <br>
                    <br>
                    <li><a class="menu-link" href="#" id="logout">로그아웃</a></li>
                    <br>
                    <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
                </ul>
            </div>
            
            <div class="coupon">
                <table class="content">
                <caption><strong>보유 쿠폰</strong></caption>
                    <tr class="table-header">
                        <th>보유 중인 쿠폰</th>
                        <th>유효 기간</th>
                    </tr>
                    <tr class="table-body">
                        <td>회원 가입 축하 쿠폰</td>
                        <td>2023.01.01~2023.03.30</td>
                    </tr>
                </table>
            </div>
        </div>       
    </div>   
</body>
</html>