<!DOCTYPE html>
<html lang="ko">




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 관리 1</title>
    <link rel="stylesheet" href="/src/main/resources/static/user/myPage/CSS/myPageOrderManage1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <div class="aside">
                <ul>
                    <li><a class="menu-link" href="#myInfo">내 정보</a></li>
                    <br>
                    <li><a class="menu-link" href="#">보유 쿠폰</a></li>
                    <br>
                    <li><a class="menu-link" href="#">좋아요한 프로젝트</a></li>
                    <br>
                    <li><a class="menu-link" href="#">후원한 프로젝트</a></li>
                    <br>
                    <li><a class="menu-link" href="#">나의 프로젝트</a></li>
                    <br>
                    <br>
                    <li><a class="menu-link" href="#">로그아웃</a></li>
                    <br>
                    <li><a class="menu-link" href="#withdrawal">회원탈퇴</a></li>
                </ul>
            </div>

            <div class="content">
                <div class="container">
                    <div class="content1">
                        <div class="menu-title">
                            <h1>나의 프로젝트 > 주문관리</h1>
                        </div>
                    </div>

                    <div class="content">
                        <div class="content2">
                            <button class="orderManagement">주문관리</button>
                            <button class="settleSearch">정산조회</button>
                        </div>
                    </div>

                    <div class="header">
                        <table>
                            <thead>
                                <tr>
                                    <th>주문번호</th>
                                    <th>프로젝트명</th>
                                    <th>리워드명</th>
                                    <th>수량</th>
                                    <th>결제금액</th>
                                    <th>주문일</th>
                                    <th>송장번호</th>
                                    <th>배송상태</th>
                                    <th>환불상태</th>
                                    <th>상세정보</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>환경사랑</td>
                                    <td>친환경 샤워필터</td>
                                    <td>1ea</td>
                                    <td>₩22,400</td>
                                    <td>23.04.01</td>
                                    <td><span class="status">조회</span></td>
                                    <td>배송중</td>
                                    <td>환불요청</td>
                                    <td><span class="status">조회</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>환경사랑</td>
                                    <td>친환경 샤워필터</td>
                                    <td>1ea</td>
                                    <td>₩22,400</td>
                                    <td>23.04.04</td>
                                    <td><span class="status">조회</span></td>
                                    <td>배송중</td>
                                    <td>환불완료</td>
                                    <td><span class="status">조회</span></td>
                                </tr>
                                <!-- 추가 주문 정보를 여기에 작성해주세요. -->
                            </tbody>

                        </table>
                    </div>

                    <div class="content3">
                        <ul class="pagination">
                            <li class="prev"><a href="">< </a></li>
                            <li calss="page1"><a href="">1</a></li>
                            <li class="page2"><a href="">2</a></li>
                            <li class="page3"><a href="">3</a></li>
                            <li class="page4"><a href="">4</a></li>
                            <li class="page5"><a href="">5</a></li>
                            <li class="page6"><a href="">6</a></li>
                            <li class="page7"><a href="">7</a></li>
                            <li class="page8"><a href="">8</a></li>
                            <li class="page9"><a href="">9</a></li>
                            <li class="page10"><a href="">10</a></li>
                            <li class="next"><a href="">></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>